<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP via FastCGI" path=".php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Win-PC\Downloads\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="indexs.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
