* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


button {
 cursor: pointer;
}
/*最外框*/

.sitebody {
    width:100%;
    min-height:100%;
    margin: 0 auto;
    background-color: #fcfAf2;
}

.wrapnav{
    display: none;
}
#menu_control{
    display: none;
}

.header { /*手機板的header*/
    width :100%;
    background-color: #C7B897;
    font-weight:bold;
    color:#612E04;
    height:10%;
    text-align: center;
    position:fixed; /*固定位置定位*/
    top:0; /*距離上方 0 像素*/
    z-index:2; /*重疊時會在其他元素之上*/

}
/*包住固定不動的Header*/
.header2 {  /*手機板的header*/
    width :100%;
    background-color:  #C7B897;
    height: 10%;
    text-align: center;
    position: relative;
    z-index:2; /*重疊時會在其他元素之上*/
}

.logoimg { /*LOGO圖片的DIV*/
    width: 40%;
    height: 100%;
}
.logoimg img{ /*LOGO圖片*/
    width: 100%;
    height: 100%;
}
.menu_btn{ /*手機板的導覽列選單按鈕*/
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 25%;
    right: 10px;  
}
.menu_btn span{ 
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #612E04;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #612E04,
                0px -8px 0px #612E04;
}
nav{
    border-top: 2px solid #612E04;
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: #C7B897;
    position: absolute;
    top: 100%;
    left: -100%;
    transition: .5s;
    z-index:2 ;
}
nav>ul{
    margin: 0;
    
}

nav a{
    display: block;
    text-decoration:none;

    color: #612E04;
    padding: 10px 20px;
    /*border-bottom: 1px solid #000000;*/
    
  

}
nav a:hover
    {
        text-decoration: none;
        color:#ffffff;
        /*font-size:24px;*/
    }
#menu_control:checked ~ nav{
    left: 0;
}
.photo {
    margin:0 auto;
    position: relative;
  
    background-color:#FCFAF2;
    z-index:0; /*重疊時會在其他元素之上*/
    width:auto;                   
    height: auto;
     /*重疊時會在其他元素之上*/

    /*background-color: #EEEEEE;


    text-align: center;


    line-height: 400px;*/
}   
.container{
    margin:0 auto;
    position: relative;           
    width:500px;
    /* border:1px solid #F00;*/
    z-index:-1; /*重疊時會在其他元素之上*/
}
.container img{
     height: 200px; ;        
    width:10px;
   
}
.slogan h2{
    font-size: 15px;
}
.content{
    background-color:#FCFAF2;
    height:auto;
    width:100%;

    min-height:66%;
    /* border:1px solid #F00;*/
}
							/* 內容裡的大標題 */
  .content .newstitle{
    position:relative;
    top:5%;
    font-size:20px;
    margin-right:10%;
    margin-bottom: 5%;
    padding-top:30px;
    padding-left:8px;
    padding-right:30px;
    width:80%;
    height:auto;
    color:#1a66ff;  /* 文字顏色 */
 }
.newstitle  h2{
    color: #1a66ff;
    font-size: 24   px;
}
.tableforcontent{
    background-color: #FCFAF2;
    width: 100%;
}
.tableforcontent table{

  width: auto;
  max-width: 90%;
  border:2px #000000  solid;
}

.tableforcontent .tabletitle  {
    width:auto;
    height: 40px;
    background-color: #BFBFBF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    
}
.tableforcontent .newstable{
    width: 100%;
    background-color: #FCFAF2;
}
.tableforcontent .newstable td{
  border-bottom: 1px #000000 solid;
}
.tableforcontent .tabletitle .date{
    width: 10%;
    word-break: break-all;
}
.tableforcontent .tabletitle .title{
    width: 10%;
    word-break: break-all;
}
.tableforcontent td{
    height: 60px;
    vertical-align: middle;
    text-align: center;
   
    word-break: break-all;

}
/*登入區用*/
.wraplogin{
    vertical-align: middle;
  
    margin: 0 auto;
    text-align: center;
}
.loginandregis  {
    
    vertical-align: middle;
    border: 0px;
}
.loginandregis input {
    
    height: 40px;
    width: 100px;
    background-color:#c7b897;
    border: 0px;
}
.regis{
    
    text-align: center;
    margin-top: 10px;
    width: 100%;
    border: 0px;
}
.regis input{
    
    height: 40px;
    width: 100px;
    background-color:#c7b897;
    border: 0px;
}
.footer {
    width: 100%;
    
    bottom: 0;
    margin-top: 10%;
    clear: both;
    background-color: #C7B897;
    height: 30px;
    text-align: left;
    line-height:30px;
     /*border:1px solid #F00;*/
}



@media screen and (min-width:1400px) {
    /*最外框*/
.sitebody {
    width:100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fcfAf2;
}
    .menu_btn{display: none;}
    .header{
        width :100%;
        background-color: #C7B897;
		font-weight:bold;
		color:#612E04;
        height:130px;
        text-align: center;
		position:fixed; /*固定位置定位*/
		top:0; /*距離上方 0 像素*/
		z-index:1; /*重疊時會在其他元素之上*/
        justify-content: right;
        font-weight: bold;
    }
    .header2{
        width :100%;
        background-color:  #C7B897;
        height: 130px;
        text-align: center;
		position: relative;
		z-index:1; /*重疊時會在其他元素之上*/
        justify-content: right;
        font-weight: bold;
    }
    
    nav{
        border-top:0;
        display: flex;
        width: 80%;
        height: auto;
        top:20px;
        right: 1px;
        left: 15%;
        background-color: transparent;
        list-style: none; 
    }
    nav a{
        text-decoration:none;
        border-bottom: none;
        color: inherit;
        display: block;
        font-size: 18px;
    }
    nav>ul{
        text-align:right;
    }
    nav >ul>li{
        display: inline-flex;
    }
    nav a:hover
    {
        text-decoration: none;
        color:#ffffff;
        /*font-size:24px;*/
    }
     

    .logoimg{
        width: 20%;
        height: 130px;
    }
    .logoimg img{
        width: 100%;
        height: 130px;
    }
    .photo {
        margin:0 auto;
        position: relative;
        
        background-color:#FCFAF2;
        z-index:0; /*重疊時會在其他元素之上*/
        width:auto;                   
        height: auto;
         /*重疊時會在其他元素之上*/

        /*background-color: #EEEEEE;


        text-align: center;


        line-height: 400px;*/
    }   
    	/*放幻燈片*/ 
    .container{
        margin:0 auto;
        position: relative;           
        width:1000px;
        /* border:1px solid #F00;*/
        z-index:1; /*重疊時會在其他元素之上*/
    }
    .container img{
        height: 500px;
        
    }
    .slogan h2{
      font-size: 2rem;
    }
    .content{
        background-color:#FCFAF2;
        height:auto;
        width:100%;
    
        min-height:auto;
        /* border:1px solid #F00;*/
    }
    .content .newstitle{
        position:relative;
        top:5%;
        font-size:20px;
        margin-right:10%;
        margin-bottom: 5%;
        padding-top:30px;
        padding-left:14%;
        padding-right:30px;
        width:80%;
        height:auto;
        color:#1a66ff;  /* 文字顏色 */
     }
    .newstitle  h2{
        color: #1a66ff;
    }
    
    .content  .tableforcontent{
        display: block;
        width:80%;
        /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
    }
    
    .content  .tableforcontent form{
        font-family: 微軟正黑體;
        margin-top: -5%;
        
       
    }
       
    
    .wraplogin{
        vertical-align: middle;
      
        margin: 0 auto;
        text-align: center;
    }
    .loginandregis  {
        
        vertical-align: middle;
        border: 0px;
    }
    .loginandregis input {
        
        height: 40px;
        width: 100px;
        background-color:#c7b897;
        border: 0px;
    }
    .regis{
        text-align: right;
        margin-top: -40px;
        margin-right: 350px;
        float: right;
        width: 300px;
        border: 0px;
    }
    .regis input{
        
        height: 40px;
        width: 100px;
        background-color:#c7b897;
        border: 0px;
    }
    
   
   
    .tableforcontent .tabletitle th  {
        width: 1%;
    }
    .tableforcontent table td{
       border-bottom: #000000 1px solid;
        min-width: 100%;
        height: 60px;
        vertical-align: middle;
        text-align: center;
    }
    .footer {
        width: 100%;
        position: relative;
        margin-top: 10%;
        clear: both;
        background-color: #C7B897;
        height: 30px;
        text-align: left;
        line-height:30px;
         /*border:1px solid #F00;*/
    }
    

}
