* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body{
      height: 100%;
  }
  button {
   cursor: pointer;
  }
  /*最外框*/
  
  .sitebody {
      width:auto;
      min-height:100%;
      margin: 0 auto;
      background-color:#FCFAF2;
  }
  
  .wrapnav{
      display: none;
  }
  #menu_control{
      display: none;
  }
  
  .header { /*手機板的header*/
      width :100%;
      background-color: #C7B897;
      font-weight:bold;
      color:#612E04;
      height:10%;
      text-align: center;
      position:fixed; /*固定位置定位*/
      top:0; /*距離上方 0 像素*/
      z-index:2; /*重疊時會在其他元素之上*/
  
  }
  /*包住固定不動的Header*/
  .header2 {  /*手機板的header*/
      width :100%;
      background-color:  #C7B897;
      height: 10%;
      text-align: center;
      position: relative;
      z-index:2; /*重疊時會在其他元素之上*/
  }
  
  .logoimg { /*LOGO圖片的DIV*/
      width: 40%;
      height: 100%;
  }
  .logoimg img{ /*LOGO圖片*/
      width: 100%;
      height: 100%;
  }
  .menu_btn{ /*手機板的導覽列選單按鈕*/
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: 25%;
      right: 10px;  
  }
  .menu_btn span{ 
      opacity: 0;
      width: 1px;
      height: 1px;
      display: block;
      overflow: hidden;
  }
  .menu_btn::before{
      content: '';
      position: absolute;
      height: 2px;
      left: 2px;
      width: 36px;
      background-color: #612E04;
      top: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0px 8px 0px #612E04,
                  0px -8px 0px #612E04;
  }
  nav{
      border-top: 2px solid #612E04;
      width: 100%;
      height: calc(100vh - 10vh);
      background-color: #C7B897;
      position: absolute;
      top: 100%;
      left: -100%;
      transition: .5s;
      z-index:2 ;
  }
  nav>ul{
      margin: 0;
      
  }
  
  nav a{
      display: block;
      text-decoration:none;
  
      color: #612E04;
      padding: 10px 20px;
      /*border-bottom: 1px solid #000000;*/
      
    
  
  }
  nav a:hover
      {
          text-decoration: none;
          color:#ffffff;
          /*font-size:24px;*/
      }
  #menu_control:checked ~ nav{
      left: 0;
  }
  .photo {
      margin:0 auto;
      position: relative;
    
      background-color:#FCFAF2;
      z-index:0; /*重疊時會在其他元素之上*/
      width:auto;                   
      height: auto;
       /*重疊時會在其他元素之上*/
  
      /*background-color: #EEEEEE;
  
  
      text-align: center;
  
  
      line-height: 400px;*/
  }   
  .container{
      margin:0 auto;
      position: relative;           
      width:500px;
      /* border:1px solid #F00;*/
      z-index:-1; /*重疊時會在其他元素之上*/
  }
  .container img{
       height: 200px; ;        
      width:10px;
     
  }
  .slogan h2{
      font-size: 15px;
  }
  .content{
      overflow: scroll;
      background-color:#FCFAF2;
      width:100%;
      min-height: 100%;
  
      /* border:1px solid #F00;*/
  }
                              /* 內容裡的大標題 */
    .content .newstitle{
      text-align: left;
      margin: 0 auto;
      position:relative;
      top:5%;
      font-size:20px;
    
      margin-bottom: 5%;
      padding-top:30px;
      padding-left:10px;
      padding-right:10px;
      width:100%;
      height:auto;
      color:#1a66ff;  /* 文字顏色 */
   }
   .content .newstitle form{
  text-align: right;
 }


  .newstitle  h2{
      word-break: break-all;
      color: #1a66ff;
     
  }
  .search{
      margin-right: 10px;
    text-align:left;
    
}
  .tableforcontent{
     
      min-height: 100%;
      width: 100%;
  }
  .content .tableforcontent table{
      text-align: center;
        width: 100%;
    max-width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse:separate ;
   
  }
  
  .tableforcontent .tabletitle  {
      width:100%;
      height: 40px;
      background-color: #BFBFBF;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      padding: 0px;
      
  }
   
  .content  .tableforcontent table td{
    width: auto;
    max-width:100px ;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space:nowrap ;
    font-size: 18px;

    /*border:1px solid #F00;*/
/* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
}
.content  .tableforcontent h5{
    font-size: 16px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space:nowrap ;
    /*border:1px solid #F00;*/
/* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
}
  .tableforcontent .newstable{
      width: 100%;
      background-color: #FCFAF2;
  }
  /*註冊用*/
  .tableforcontent .tabletitle .date{
      width: 10%;
      word-break: break-all;
  }
  .tableforcontent .tabletitle .title{
      width: 10%;
      word-break: break-all;
  }
  .content .tableforcontent .commenttable{
    margin-bottom: 30px;
    font-size: 24px;
 }
 .content .tableforcontent .mycommenttable{
  margin-bottom: 30px;
   width: 80%;
   font-size: 16px;
   word-break: break-all;
}
  /*註冊頁面表格*/
  .content  .tableforcontent .registered {
    height: 50px;
    margin-top: -5%;
    border-spacing:0px ;
    padding:0;
  /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
}
.loginandregis  {
    text-align: center;
    
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    border: 0px;
}
.loginandregis input {
    
    height: 40px;
    width: 100px;
    background-color:#c7b897;
    border: 0px;
}
 
 .content  .tableforcontent .registered td{
     line-height: 15px;
     padding: 10px;
     overflow : hidden;
     text-overflow: inherit;
     white-space:normal ;
 /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
}
/*法音流佈區域*/
.content  .tableforcontent .videotable{
    width: 80%;
    margin-bottom: 30px;
    border-spacing:0px ;
    
    
   
    border-collapse:collapse;
    
     border: #000000 2px   solid;
   /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
   } 
   .content  .tableforcontent .videotable td{
      
     
       padding-top: 10px;
       padding-bottom: 10px;
       width: 330px;
       height: auto;
       vertical-align: top;
       text-align: left;
       overflow : hidden;
        text-overflow: inherit;
        white-space:normal ;
        border:1px solid #000000;
     /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
     }
    
      /*公告表格*/
      .content  .tableforcontent .news{
        

        border-collapse:collapse;
        width: 90%;
        border:3px #000000  solid;
        
      }
     
      .content  .tableforcontent .news td{
        padding: 15px;
        word-break: break-all;
        border-bottom:1px #000000  solid ;
        overflow:auto;
        text-overflow:inherit;
        white-space:normal;
        
      }
      .content .tableforcontent .scripture{
        width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
    .content .tableforcontent .scripture td{
      overflow:auto;
      text-overflow:inherit;
      white-space:normal;
      text-align: left;
  }
  .content .tableforcontent .post{
      margin-bottom: 50px;
  border-spacing:0px ;
  border:3px #000000 solid ;
 width: 80%;
}
.content .tableforcontent .post td{
    padding-left: 5px;
    padding-right: 5px;
  word-break:break-all;
  padding-top: 0px;
  text-align:left;
  overflow:hidden;
  text-overflow:inherit;
  white-space:normal;
}
.content  .tableforcontent .memberprofile{
    border-collapse: collapse;
        
      width: 90%;
   border: 3px #000000 solid;
  
}
  .content  .tableforcontent .memberprofile td{
      font-size: 16px;
      text-align: center;
    overflow:hidden;
    text-overflow:inherit;
    white-space:normal;
      padding: 10px;
    border-top: 1px #000000 solid;
  
}
.content .tableforcontent .contact{
  margin-bottom: 50px;
  width: 90%;
  border-collapse: collapse;
  border: 3px #000000 solid;
  word-break: break-all;
 
  
}
.content .tableforcontent .contact td{
 
  border-bottom: 1px #000000 solid;
  overflow:hidden;
  text-overflow:inherit;
  white-space:normal;
 
}

.content  .tableforcontent .videotypetable{
  width: 90%;
  border-spacing:10px ;
  border-collapse: collapse;
  border: 2px #000000 solid;
  vertical-align: middle;
}
.content  .tableforcontent .videotypetable th{ 
background-color: #BFBFBF;
height: 40px;
font-size: 20px;

}
.content  .tableforcontent .videotypetable td{ 
height: 40px;
border-bottom: solid 1px #000000;
vertical-align: middle;

}
.content  .tableforcontent .videotypetable .short{
width: 5%;
}
.content .tableforcontent .origin{
  margin-bottom: 30px;
  word-break: break-all;
  border-collapse: collapse;
  width: 90%;

 
  
}.content .tableforcontent .origin td{
  overflow:hidden;
  text-overflow:inherit;
  white-space:normal;

 
  
} 
 .pageforvideo{
        margin-bottom: 50px;
       
    }
.total{
        margin-bottom: 30px;
      
  }    

.footer {
    width: 100%;
    position: relative;
    margin-top: -10px;
    clear: both;
    background-color: #C7B897;
    height: 30px;
    text-align: left;
    line-height:30px;
     /*border:1px solid #F00;*/
}

  
  
  @media screen and (min-width:1400px) {
      /*最外框*/
  .sitebody {
      width:100%;
      min-height: 100%;
      margin: 0 auto;
      background-color: #fcfAf2;
  }
   

      .slogan h2{
        font-size: 2rem;
      }
      .content{
          overflow: auto;
          background-color:#FCFAF2;
          text-overflow: ellipsis;   
          width:100%;
         max-width: 100%;
          min-height:100%;
          
          /* border:1px solid #F00;*/
      }
     
      .content .newstitle{
          
          position:relative;
          top:5%;
          font-size:20px;
          margin-right:10%;
          
          margin-bottom: 5%;
          padding-top:30px;
          padding-left:30px;
          padding-right:30px;
          width:100%;
          height:auto;
          color:#1a66ff;  /* 文字顏色 */
       }
      .newstitle  h2{
        padding-left:5px;
        
          color: #1a66ff;
      }
      
      .content  .tableforcontent{
        
          min-height: 80%;
          margin: 0px auto;
          display: block;
          background-color:#FCFAF2 ;
          width:80%;
          max-width: 100%;
         /*  border:1px solid #F00;*/  /*	紅色框線記得刪除*/
      }
       
      .content  .tableforcontent table {
        table-layout: fixed;
       border-collapse:separate ;
       border-spacing:20px ;
    /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
}
      .content  .tableforcontent table td{
            max-width: 140px;
            width: 50px;
               
           font-size: 18px;
            height: 60px;
            vertical-align: middle;
            text-align: center;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space:nowrap ;
            
        /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
        }
        .content  .tableforcontent h5{
            font-size: 16px;
            
            /*border:1px solid #F00;*/
        /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
        }
     /*註冊頁面表格*/
     .content  .tableforcontent .registered {
       margin-top: -5%;
       border-spacing:10px ;
     /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
        }
    /*註冊頁面表格*/
    .content  .tableforcontent .registered td{
        line-height: 0;
        padding: 0px;
      
    /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
    }   
    .content  .tableforcontent .videotypetable{
      border-spacing:0px ;
      border-collapse: separate;
      border: 2px #000000 solid;
      vertical-align: middle;
      margin-bottom: 5%;
  }
  .content  .tableforcontent .videotypetable th{ 
    background-color: #BFBFBF;
    height: 40px;
    font-size: 20px;
    
  }
  .content  .tableforcontent .videotypetable td{ 
    height: 60px;
  border-bottom: solid 1px #000000;
  vertical-align: middle;
    
  }
  .content  .tableforcontent .videotypetable .short{
   width: 5%;
}
    .content  .tableforcontent .videotable{
        
        vertical-align: middle;
        border-spacing:0px ;
        border-collapse:collapse;
         width: 80%;
         border: #000000 2px   solid;
     
      
    } 
    .content  .tableforcontent .videotable td{
        padding-top: 10px;
        padding-bottom: 10px;
       
        height: auto;
        
        text-align:left;
        overflow : hidden;
        text-overflow: inherit;
        white-space:normal ;
        border: 0px;
        border-bottom:1px solid #000000;
      /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
      }
     
      
      .content  .tableforcontent .videotable  .picture{
          width: 30%;
        text-align:center;
       
      }
      .content  .tableforcontent .sup {
        
        border-collapse: collapse;
        width: 80%;
        border:3px #000000  solid;
        
      }
      .content  .tableforcontent .sup td{
        
        
        padding: 15px;
        border-bottom:1px #000000  solid ;
         vertical-align: middle;
        
      }
      .content  .tableforcontent .sup tr{
        
        height: 40px;
        
        border:1px #000000  solid ;
         vertical-align: middle;
        
      }
    

      /*公告表格*/
      .content  .tableforcontent .news{
        
      
        border-collapse: collapse;
        width: 80%;
        border:3px #000000  solid;
        
      }
      .content  .tableforcontent .news2{
        

        border-collapse: collapse;
        width: 80%;
        border:3px #000000  solid;
        
      }
      .content  .tableforcontent .news td{
          padding: 15px;
        border-bottom:1px #000000  solid ;
         vertical-align: middle;
        
      }
      .content  .tableforcontent .memberprofile{
        border-collapse: collapse;
            
          width: 80%;
       border: 3px #000000 solid;
      
    }
      .content  .tableforcontent .memberprofile td{
          padding: 10px;
        border-top: 1px #000000 solid;
        font-size: 20px;
    }
     
      .pageforvideo{
        margin-bottom: 5%;
       
    }
    
    .loginandregis  {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        
        vertical-align: middle;
        border: 0px;
    }
    .loginandregis input {
        
        height: 40px;
        width: 100px;
        background-color:#c7b897;
        border: 0px;
    } 

     
      .tableforcontent .tabletitle th  {
          
          width: 1%;
      }
     /*科判TABLE*/
     .content  .tableforcontent .kepan {
       

       
        border-spacing:10px ;
      /* border:1px solid #F00;*/  /*	紅色框線記得刪除*/
         }
      .content .tableforcontent .kepan td{
        padding:10px ;
        height: 10px;
        vertical-align: middle;
        text-align: center;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
      }
      .content .tableforcontent .post{
        
          margin-bottom: 50px;
        border-spacing:0px ;
        border:3px #000000 solid ;
       width: 80%;
      }
      .content .tableforcontent .post td{
        padding-top: 0px;
        text-align:left;
        
      }
      .content .tableforcontent .scripture{
          
          width: 100%;
      text-align: left;
      margin-bottom: 30px;
    }
      .content .tableforcontent .scripture td{
        
        overflow:auto;
        text-overflow:inherit;
        white-space:normal;
        text-align: left;
    }
    
    .content .tableforcontent .commenttable{
      margin-bottom: 30px;
     font-size: 24px;
  }
  .content .tableforcontent .mycommenttable{
    margin-bottom: 30px;
    width: 80%;
    font-size: 16px;
    word-break: break-all;
 }
 .content .tableforcontent .contact{
  margin-bottom: 30px;
  width: 60%;
  border-collapse: collapse;
  border: 3px #000000 solid;

 
  
}
.content .tableforcontent .contact td{
 
  border-bottom: 1px #000000 solid;
  
 
}
.content .tableforcontent .origin{
  margin-bottom: 30px;
  width: 80%;
  border-collapse: collapse;
 

 
  
}.content .tableforcontent .origin td{
  overflow:auto;
  text-overflow:inherit;
  white-space:normal;
 

 
  
}

 
      .newstitle2{
          text-align: right;
      }
      .page{
          margin-top: 5%;
      }
      .total{
          margin-bottom: 30px;
        
    }

     

      .search{
          text-align: right;
      }
      .footer {
          width: 100%;
          position: relative;
          margin-top: -10px;
          clear: both;
          background-color: #C7B897;
          height: 30px;
          text-align: left;
          line-height:30px;
           /*border:1px solid #F00;*/
      }
      
  
  }
  